.profile__inner{
    display: flex;
    margin-bottom: 30px;
}
.profile__aside{
    margin-right: 30px;
    max-width: 270px;
    width: 100%;
}
.profile__status{
    font-size: 13px;
    color: #707070;
    padding: 5px 9px 4px 30px;
    border: 1px solid #6d6d6d;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $green;
        left: 12px;
        top: 12px;
    }
}
.profle-on{
    &:before{
        background-color: $green;
    }
}
.profile-off{
    &:before{
        background-color: $red;
    }    
}
.profile__aside-btn{
    margin-bottom: 13px;
    text-align: center;
}
.profile__aside-message{
    margin-bottom: 17px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    @include f500;
    padding: 18px 10px;
    position: relative;
    background-color: #546e7a;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    &::before{
        position: absolute;
        content: "\f003";
        font-family: 'icomoon';
        left: 50px;
        top: 18px;

    }
}
.profile__aside-following{
    margin-bottom: 17px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
    @include f700;
    background-color: $green;
    padding: 18px 10px;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
}
.profile__content{
    width: 100%;
}
.profile__banner{
    padding: 20px;
    border: 1px solid #dedede;
    margin-bottom: 39px;
}
.profile__banner-img{
    min-height: 332px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.profile__items{
    display: flex;
    border: 1px solid #dedede;
}
.profile__item{
    width: 25%;
    padding: 20px 5px 17px;
    
    text-align: center;
    & + .profile__item{
        border-left: 1px solid #dedede; 
    }

}
.profile__item-title {
    font-size: 14px;
    color: $bg;
    @include f500;
}
.profile__item-conten {
    font-size: 14px;
    color: #707070;
    @include f500;
    &.profile__item-sales{
        color: $bg;
    }
    span{
        display: inline-block;
    }
}
.profile__settings{
    .product-one__tabs.settings__tabs{
        .tabs span{
            font-family: "Roboto" !important;
            font-weight: 500;
            color: #707070;
            position: relative;
            &.active::before{
                color: $green;
            }
            &::before{
                position: absolute;
                font-family: "icomoon";
                left: 27px;
                top: 17px;
                color: #d0d0d0;
                font-size: 14px;
            }
        }
    }
     
}
.personal__box{
    padding: 35px 40px 25px;
    border: 1px solid #dedede;
}
.personal__box-title{
    margin-bottom: 25px;
    @include f700;
    font-size: 20px;
    color: $bg;
}
.personal__box-text{
    margin-bottom: 20px;
    p{
        margin-bottom: 20px;
        color: #707070;

    }
}
.personal-box__item-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.personal-box__item-name{
    font-size: 16px;
    @include f500;
    color: $bg;
    font-style: italic;
}
.personal-box__item-number{
    font-size: 16px;
    @include f700;
    color: $bg;
}
.personal-box__item-line{
    height: 15px;
    background-color: #f4f4f4;
    border-radius: 3px;
    margin-bottom: 23px;
    span{
        display: block;
        height: 15px;
        border-radius: 3px;
        background-image: url(../images/prog-bar.jpg);
        background-repeat: repeat;
    }
}


