$text: #546e7a;
$red: #e74c3c;
$green: #8bc34a;
$bg: #263238;
$gray: #f4f5f6;

@mixin f500 {
    font-family: "Roboto-Medium";
}
@mixin f700 {
    font-family: "Roboto-Bold";
}
@mixin f400 {
    font-family: "Roboto-Regular";
}

@mixin r700 {
    font-family: "Raleway-Bold";
}

